.banner{
	background-image: linear-gradient(0deg,rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%), url(avion.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding:150px 0px ;
}
.banner h1 {
	font-size: 60px;
	margin-bottom: 10px;
	font-family: caveat brush;
}
.banner h2{
	font-weight: 300;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 60px;
}
